/* debug */
/* nav {
    background-color: #E579E6;
} */

#banner {
    background-color: #E1D67A;
}

main {
    background-color: #0483FF;
}

#title,
.col {
    background-color: #ABCFE7;
}

.col {
    height: 460px;
}

footer {
    background-color: #8801FE;
}
/* /debug */


/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

body {

}

#container {
    margin: 30px auto;
    width: 80%;
}

.color_gray {
    color: #AFAFAF;
}

/* header page */
nav {
    height: 100px;
}

#banner {
    height: 500px;
    margin: 30px 0;
}

#logo_neori {
    width: 200px;
    margin-bottom: 20px;
    cursor: pointer;
}

#menu_nav > li {
    line-height: 100px;
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}
#menu_nav a {
    font-size: 20px;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
}
#menu_nav a:hover {
    color: black;
}

/* body page */
main {
    padding-bottom: 20px;
}

#title {
    height: 100px;
    margin-bottom: 20px;
}

.col {
    float: left;
}

#col_left,
#col_right {
    width: 25%;
}

#col_center {
    width: calc(50% - 40px);
    margin: 0 20px;
}

/* footer page */
footer {
    height: 50px;
    margin-top: 10px;
}