/* debug */
/* nav {
    background-color: #E579E6;
} */

/* #banner {
    background-color: #E1D67A;
} */

/* main {
    background-color: #0483FF;
} */

/* #title {
    background-color: #ABCFE7;
} */

/* .col {
    background-color: #ABCFE7;
} */

/* .col {
    height: 460px;
} */

/* footer {
    background-color: #8801FE;
} */
/* /debug */


/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

body {
    font-family: 'Montserrat', sans-serif;
}

#container {
    margin: 30px auto;
    width: 80%;
}

[id^="img"] {
    height: 255px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.text_thin {
    font-weight: 400;
}
.text_small {
    font-size: 18px;
}

.color_gray {
    color: #AFAFAF;
}

.box_opacity {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 60px 50px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* header page */
#logo_neori {
    width: 200px;
    margin-bottom: 20px;
    cursor: pointer;
}

nav {
    height: 100px;
}
#menu_nav > li {
    line-height: 100px;
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}
#menu_nav a {
    font-size: 20px;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
}
#menu_nav a:hover {
    color: black;
}

#banner {
    height: 500px;
    margin: 30px 0;
    border-radius: 10px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}
#banner .box_opacity:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
}
#text_img {
    width: 600px;
    margin-top: 260px;
    font-size: 20px;
}

/* body page */
main {
    padding-bottom: 20px;
}

#title {
    height: 100px;
    margin-bottom: 20px;
    padding: 20px 0px;
    font-size: 25px;
}

.col {
    float: left;
    border-radius: 10px;
}
#col_left,
#col_right {
    width: 25%;
}
#col_center {
    width: calc(50% - 40px);
    margin: 0 20px;
}
#col_left:hover,
#col_center:hover,
#col_right:hover {
    cursor: pointer;
}
#col_left:hover .box_opacity,
#col_center:hover .box_opacity,
#col_right:hover .box_opacity {
    background-color: rgba(0, 0, 0, 0.1);
}
#col_left:hover h4,
#col_center:hover h4,
#col_right:hover h4 {
    color: red;
}
#col_left:hover p,
#col_center:hover p,
#col_right:hover p {
    color: black;
}
#img_left {
    background-image: url(../img/img-1.jpg);
}
#img_center {
    background-image: url(../img/banner-2.jpg);
}
#img_right {
    background-image: url(../img/img-3.jpg);
}

/* footer page */
footer {
    height: 50px;
    margin-top: 10px;
    line-height: 50px;
}

footer > p {
    text-align: center;
    vertical-align: middle;
}
#heart {
    color: red;
}